<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="static/jquery.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="utf-8">

    <title>Restaurant Management System</title>
  </head>
  <body>
    <div style="float: right; width: 100%; margin-bottom: 10px;">
      <a class="navbar_button" href="/cashregister.html"> Cash Register </a>
      <a class="navbar_button" href="/kitchen.html"> Kitchen </a>
      <a class="navbar_button" href="/waitingroom.html"> Waiting Room </a>
      <a class="navbar_button chosen" href="/bookkeeping.html"> Book Keeping </a>
      <div class="navbar_divider"></div>
    </div>

    <div>
      <h3 style="text-align:center">Orders</h3>

      <table id="results" border= 1  style="background-color:white; margin-top: 20px; margin-left:15%; width:70%">
        <tr><th width="55%"> Item </th> <th width="15%"> Numbers </th> <th width="15%"> Date </th>  <th width="15%"> Time </th> </tr>
      {%for item in orderedItems%}
        <tr><td width="55%"> {{item[0]}} </td> <td width="15%"> {{item[1]}} </td> <td width="15%"> {{item[2]}} </td>  <td width="15%"> {{item[3]}} </td> </tr>
      {%endfor%}
    </table>
    </div>
  </body>
</html>
