table {
  border-collapse: collapse;
}

table th td{
  border: 3px solid;
  border-color: #0868ac;
}

th {
  background-color: #0868ac;
  color: white;
  border: 2px solid #0868ac;
}

td{
  border: 2px solid #0868ac
}
